<template>
  <div class="layout">
    <Headbar @toggle="toggle = !toggle" />
    <div class="main-wrapper">
      <SideMenu v-if="!isMobile"/>
      <Viewer />
    </div>
  </div>
</template>

<script setup>
import { ref } from '@vue/reactivity'
import Headbar from './components/Headbar.vue'
import SideMenu from './components/SideMenu.vue'
import Viewer from './components/Viewer.vue'
import { onMounted, watch } from 'vue'
import { useWindowSize } from '@vueuse/core'

const { width } = useWindowSize()
const toggle = ref(false)
const isMobile=ref(false)


watch(width, (newWidth) => {
  if (newWidth < 1200) toggle.value = true
  else toggle.value = false
})
const _isMobile=()=>{
  let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
      return flag;
}
onMounted(() => {
  if (width.value < 1200) toggle.value = true
  else toggle.value = false
  if (_isMobile()) isMobile.value = true
  else isMobile.value = false
})

</script>

<style lang="postcss" scoped>

.layout {
  @apply flex flex-col h-full;
}

.main-wrapper {
  @apply flex flex-1 overflow-hidden relative;
}

</style>
