<template>
  <div class="loginIsMobile" v-if="isMobile">
    <section class="panel left-panel right-panel">
      <h1 class="isMobileWelcome">Welcome</h1>
      <LoginCard />
    </section>
  </div>
  <div class="login" v-else>
    <section class="panel left-panel">
      <h1>Welcome</h1>
      <LoginCard />
    </section>
    <section class="panel right-panel" />
  </div>
</template>

<script setup>
import LoginCard from './components/LoginCard.vue'
import {  onMounted } from '@vue/runtime-core'
import {  ref } from '@vue/reactivity'
const isMobile=ref(false)
const _isMobile=()=>{
  let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
      return flag;
}
onMounted(()=>{
        if (_isMobile()) isMobile.value = true
        else isMobile.value = false
});
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-[52px] mb-[55px];
}
.isMobileWelcome{
 color:#fff;
}
.login {
  @apply flex w-full h-full;
}
.loginIsMobile {
  @apply flex w-full h-full;
}
.panel {
  @apply w-full h-full;
}

.left-panel {
  @apply flex flex-col items-center justify-center;
  @apply p-[50px];
}
.right-panel {
  background: url('@/assets/login-bg.png');
  @apply bg-gray-400 bg-cover bg-no-repeat  bg-center;
}

</style>
