<template>
  <div class="callback" />
</template>

<script setup>
import { computed, onMounted } from '@vue/runtime-core'
import { GetLineAccessToken, GetLineMeProfile } from '@/api/line'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from '@/store'
const route = useRoute()
const router = useRouter()

const store = useStore()

const code = computed(() => {
  const { code } = route.query
  return code
})

onMounted(async () => {
  const res = await GetLineAccessToken(code.value)
  const me = await GetLineMeProfile(res.data.id_token)
  store.setUser({
    userId: '123456789',
    displayName: me.data.name,
  })  
  router.replace({ name: 'overview' })
})
</script>

<style scoped lang="postcss">

</style>
